<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>https://raw.githubusercontent.com/BeezleLabs/conferences/master/TOORCON19/</string>
	<key>schedule</key>
	<string>schedule-full.json</string>
	<key>speakers</key>
	<string>speakers.json</string>
</dict>
</plist>
